.list-laws {
  a {
    font-size: 1.1rem;
  }

  li {
    margin-bottom: 5px;
  }
}

.list-law-sections {
  li {
    margin-bottom: 4px;
  }

  @include media-breakpoint-up(md) {
    margin-left: 50px;
  }

  @include media-breakpoint-up(lg) {
    margin-left: 100px;
  }
}
