// Case statistics page styles

#stats-error {
  margin: 20px;
}

#stats-summary,
#stats-legend {
  padding: 0 20px;
}

#stats-legend {
  margin-bottom: 15px;
}

.stats-extra-container {
  .row {
    padding: 0 20px;
  }
}
