{% load static from staticfiles %}
{% load i18n %}

{% block footer %}
<footer>
    <div class="container">
        <ul>
            <li>
                &copy; <a href="{% url 'homepage:index' %}">OPENLEGALDATA.IO</a>
            </li>

            <li><a href="{% url 'contact:form' %}">{% trans 'Contact' %}</a></li>
            <li><a href="{% url 'flatpages' url='/imprint/' %}">{% trans 'Imprint' %}</a></li>
            <li><a href="{% url 'flatpages' url='/privacy/' %}">{% trans 'Privacy' %}</a></li>
            <li><a href="{% url 'courts:index' %}">{% trans 'Courts' %}</a></li>
            <li><a href="{% url 'flatpages' url='/api/' %}">API</a></li>

            <li><a href="{{ site_blog_url }}">Blog</a></li>
            <li><a href="{{ site_twitter_url }}"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
            <li><a href="{{ site_github_url }}"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></li>

        </ul>

        </div>
    </div>
</footer>


<!-- include devbar -->
<script src="{% static 'js/bootstrap/4.0.0/bootstrap.min.js' %}"></script>

{% endblock %}