{% load static from staticfiles %}
{% load i18n %}

{% block header %}

<header class="header fixed">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/">
                <i class="fa {{ site_icon }}" aria-hidden="true"></i> {{ site_title }}</a>

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                     <i class="fa fa-navicon"></i>
                </span>
            </button>

{#            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"#}
{#                    data-target="#navbar" aria-controls="navbar" aria-expanded="false"#}
{#                    aria-label="Toggle navigation">#}
{#                <span class="navbar-toggler-icon"></span>XX#}
{#            </button>#}

            <div class="navbar-collapse collapse" id="navbar" style="">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item{% if nav == 'homepage' %} active{% endif %}">
                        <a class="nav-link" href="{% url 'homepage:index' %}"><i class="fa fa-home" aria-hidden="true"></i> {% trans 'Home' %}</a>
                    </li>
                    <li class="nav-item{% if nav == 'laws' %} active{% endif %}">
                        <a class="nav-link" href="{% url 'laws:index' %}"><i class="fa fa-book" aria-hidden="true"></i> {% trans 'Laws' %}</a>
                    </li>
                    <li class="nav-item{% if nav == 'cases' %} active{% endif %}">
                        <a class="nav-link" href="{% url 'cases:index' %}"><i class="fa fa-legal" aria-hidden="true"></i> {% trans 'Cases' %}</a>
                    </li>

                    <li class="nav-item dropdown">

                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            {% if user.is_authenticated %}{% trans 'Account' %}{% else %}{% trans 'Sign In' %}{% endif %}
                            <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            {% if user.is_authenticated %}
                                <li><a class="dropdown-item" href="{% url 'account_api' %}">{% trans 'API Keys' %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'account_email' %}">{% trans 'Change E-mail' %}</a></li>
                                {% if debug %}
                                    <li><a class="dropdown-item" href="/admin" target="_blank">Admin</a></li>
                                {% endif %}

{#                                <li role="separator" class="divider"></li>#}

                                <li><a class="dropdown-item" href="{% url 'account_logout' %}">{% trans 'Sign Out' %}</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="{% url 'account_login' %}">{% trans 'Login' %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'account_signup' %}">{% trans 'Sign Up' %}</a></li>
                            {% endif %}

                        </ul>
                    </li>

                </ul>
                <form id="searchbar" class="search-form form-inline my-2 my-md-0" action="{% url 'search' %}" role="search" method="get">
                    <div class="input-group">
                        <input class="form-control" name="query" placeholder="{% trans 'search_query_placeholder' %}" value="{{ searchQuery }}" type="text">
                        <button class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </form>
            </div>
        </nav>

    </div>
</header>

{% endblock %}

