{% load mathfilters %}

{% if items.paginator.num_pages > 1 %}
<nav class="text-center" aria-label="Page navigation">
    <ul class="pagination">
        {% if items.has_previous %}
        <li>
            <a href="?page={{ items.previous_page_number }}" aria-label="Previous">&laquo; </a>
        </li>
        {% endif %}
        {% for page in items.paginator.page_range %}
            {% with page_dif=page|sub:items.number|abs %}
                {% if page_dif < 10 %}
                    <li class="{% if page == items.number %}active {%endif%}
                        {% if page_dif > 2 %}hidden-xs {% endif %}
                        {% if page_dif > 4 %}hidden-sm {% endif %}">
                        <a href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endwith %}
        {% endfor %}
        {% if items.has_next %}
        <li>
            <a href="?page={{ items.next_page_number }}" aria-label="Next">&raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
