{% load i18n %}

<section>

    <h3><a id="refs">{% trans 'References' %}</a></h3>

    {% if item.get_references|length > 0 %}
    <ul>
        {% for ref in item.get_references %}
        <li class="ref-marker-id-{{ ref.marker.id }} ref-marker-uuid-{{ ref.marker.uuid }}" data-ref-marker-id="{{ ref.marker.id }}">
            <a href="{{ ref.get_url }}">{{ ref.get_title }}</a>
            {% if ref.count and ref.count > 1 %}
                <span class="badge">{{ ref.count }}x</span>
            {% endif %}
            {% if not ref.is_assigned %}({% trans 'not assigned' %}){% endif %}

            {% if debug %}
            <pre class="danger">
                    to: {{ ref.to }}
                    law: {{ ref.law }}
                    case: {{ ref.case }}
                    text: {{ ref.marker.text }}
                </pre>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p class="text-center">{% trans 'This content does not contain any references.' %}</p>
    {% endif %}
</section>