{% extends "layout.html" %}

{% load static from staticfiles %}
{% load i18n %}

{% block content %}

{% with item=item %}
    {% include 'admin_bar.html' %}
{% endwith %}

{% if item.is_private %}
    <div class="alert alert-danger">
        {% trans 'private_content_warning' %}
    </div>
{% endif %}

<section class="case">
    <div class="title-center">
        <h2>{{ item.get_title }}</h2>
    </div>

    <div class="meta-data">

        <div class="meta-item">
            <label>{% trans 'Court' %}:</label>
            <a href="{{ item.court.get_absolute_url }}">{{ item.court.name }}</a> {% if item.court_chamber %}({{ item.court_chamber }}){% endif %}
        </div>

        <div class="meta-item">
            <label>{% trans 'Document type' %}: </label> {{ item.get_case_type }}
        </div>

        <div class="meta-item">
            <label>{% trans 'File number' %}: </label> {{ item.file_number }}
        </div>


        <div class="meta-item">
            <label>{% trans 'Publication date' %}: </label> {{ item.get_date }}
        </div>

        {% if debug %}
            <div class="meta-item">
                <label>{% trans 'Source' %}: </label>
                <a href="{{ item.source_url }}" target="_blank" class="">{% trans 'btn_go_to_source' %}</a>
            </div>

            <div class="meta-item">
                <label>{% trans 'Found at' %}: </label>
                <a href="{{ item.source_homepage }}" target="_blank">{{ item.source_name }}</a>
            </div>
        {% endif %}
    </div>

    {% if item.get_content_as_html|length > 500 %}
        <div class="read-more-container">
            {% autoescape off %}
                {{ item.get_content_as_html }}
            {% endautoescape %}

            <div class="read-more">
                <button class="btn btn-success">
                    <i class="fa fa-arrow-down"></i>
                    {% trans 'btn_show_full_text' %}
                    <i class="fa fa-arrow-down"></i>
                </button>
            </div>
        </div>
    {% else %}
        {% autoescape off %}
            {{ item.get_content_as_html }}
        {% endautoescape %}

    {% endif %}


</section>

<section>
    <h3>{% trans 'Related Cases' %}</h3>
    {% if item.get_related %}
        {% with cases=item.get_related %}
        {% include 'cases/table.html' %}
        {% endwith %}

    {% else %}
        <p class="text-center">{% trans 'empty_related_content' %}</p>
    {% endif %}
</section>

{% include 'references.html' %}


{% if False %}
<div class="row">
    <div class="col-lg-6">
        <section>
            <h3>{% trans 'Related Cases' %}</h3>
            {% if item.get_related %}
            <ul>
                {% for rel in item.get_related %}
                <li>
                    <a href="{{ rel.get_absolute_url }}">{{ rel.get_short_title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p class="text-center">{% trans 'empty_related_content' %}</p>
            {% endif %}
        </section>
    </div>
    <div class="col-lg-6">
        <section>
            <h3>{% trans 'Relevant Laws' %}</h3>
            {% if item.get_relevant_items %}
            {% for law in item.get_relevant_laws %}
            <ul>
                <li>---</li>
            </ul>
            {% endfor %}
            {% else %}
            <p class="text-center">{% trans 'empty_references' %}</p>
            {% endif %}
        </section>
    </div>
</div>
{% endif %}

{% endblock %}
