
<table class="table table-striped table-hover table-sortable">
    <thead>
    <tr>
        {% include 'sortable_table.html' %}
    </tr>
    </thead>
    <tbody>
    {% for case in cases %}
        <tr{% if case.is_private %} class="danger"{% endif %}>
            <td>
                <a href="{{ case.get_absolute_url }}">{{ case.get_title }}</a>
                <div class="d-md-none">
                    <small>{{ case.date }}</small>
                </div>
            </td>
            <td class="text-nowrap d-none d-md-table-cell">{{ case.file_number }}</td>
            <td class="text-nowrap d-none d-md-table-cell">{{ case.date }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
