{% load i18n %}
{% load qstring %}
{% qstring as current_qstring %}

<table class="table table-striped table-hover">
    <thead>
    <tr>
        {% include 'sortable_table.html' %}
    </tr>
    </thead>
    <tbody>
    {% for case in cases %}
        <tr{% if case.is_private %} class="danger"{% endif %}>
            <td><a href="{{ case.get_absolute_url }}">{{ case.get_title }}</a></td>
            <td>{{ case.file_number }}</td>
            <td>{{ case.date }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
