
    <h2>Tum Quintus: Est plane, Piso, ut dicis, inquit.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At eum nihili facit; Quae quo sunt excelsiores, eo dant clariora indicia naturae. Quis enim redargueret? <b>Quia nec honesto quic quam honestius nec turpi turpius.</b> </p>
    <ol>
        <li>Sed tamen enitar et, si minus multa mihi occurrent, non fugiam ista popularia.</li>
        <li>Quid ergo dubitamus, quin, si non dolere voluptas sit summa, non esse in voluptate dolor sit maximus?</li>
        <li>Ita enim vivunt quidam, ut eorum vita refellatur oratio.</li>
        <li>Cum autem venissemus in Academiae non sine causa nobilitata spatia, solitudo erat ea, quam volueramus.</li>
        <li>De illis, cum volemus.</li>
        <li>Quae cum praeponunt, ut sit aliqua rerum selectio, naturam videntur sequi;</li>
    </ol>

    <ul>
        <li>Re mihi non aeque satisfacit, et quidem locis pluribus.</li>
        <li>Itaque dicunt nec dubitant: mihi sic usus est, tibi ut opus est facto, fac.</li>
        <li>Si sapiens, ne tum quidem miser, cum ab Oroete, praetore Darei, in crucem actus est.</li>
        <li>Ita fit ut, quanta differentia est in principiis naturalibus, tanta sit in finibus bonorum malorumque dissimilitudo.</li>
        <li>At ille non pertimuit saneque fidenter: Istis quidem ipsis verbis, inquit;</li>
        <li>Neque enim disputari sine reprehensione nec cum iracundia aut pertinacia recte disputari potest.</li>
    </ul>

    <h3>Stulti autem malorum memoria torquentur, sapientes bona praeterita grata recordatione renovata delectant.</h3>
    <p>Hos contra singulos dici est melius. <b>Tum Triarius: Posthac quidem, inquit, audacius.</b> Omnia peccata paria dicitis. Quamquam ab iis philosophiam et omnes ingenuas disciplinas habemus; Vitiosum est enim in dividendo partem in genere numerare. Quid ait Aristoteles reliquique Platonis alumni? </p>
    <blockquote cite="http://loripsum.net">
        Quin etiam ferae, inquit Pacuvius, quíbus abest, ad praécavendum intéllegendi astútia, iniecto terrore mortis horrescunt.
    </blockquote>

    <h2>Duo Reges: constructio interrete.</h2>
    <p>Quare conare, quaeso. <b>Qualem igitur hominem natura inchoavit?</b> Quam ob rem tandem, inquit, non satisfacit? Summum ením bonum exposuit vacuitatem doloris; <b>Haec para/doca illi, nos admirabilia dicamus.</b> </p>
<pre>Ex ea quae sint apta, ea bonesta, ea pulchra, ea laudabilia,
illa autem superiora naturale nominantur, quae coniuncta cum
honestis vitam beatam perficiunt et absolvunt.

Istam voluptatem, inquit, Epicurus ignorat?
</pre>

    <dl>
        <dt><dfn>Poterat autem inpune;</dfn></dt>
        <dd>Nam aliquando posse recte fieri dicunt nulla expectata nec quaesita voluptate.</dd>
        <dt><dfn>Reguli reiciendam;</dfn></dt>
        <dd>Maximus dolor, inquit, brevis est.</dd>
        <dt><dfn>Age sane, inquam.</dfn></dt>
        <dd>Habent enim et bene longam et satis litigiosam disputationem.</dd>
    </dl>

