// OLDP specific styles

// Law section?
.file-line table {
  border-collapse: collapse
}

.file-line td, .file-line th {
  border: 1px solid #FFF;
  background: #F7F7F7;
  padding: .5rem;
  text-align: left
}


.file-line li {
  margin: 10px 20px;
}


dl {
  /*margin-bottom:50px;*/
  margin-left: 8px;
}

dl dt {
  float:left;
  font-weight:bold;
  margin-right:10px;
  /*padding:5px;*/
}

dl dd {
  margin:2px 0;
  /*padding:5px 0;*/
}

.file-line table {
  border: 1px solid #333;
}

.file-line td {
  border: 1px solid #333;
  padding: 3px;

}

table.table-lines {
  margin: 0 10px;
  border: 0;
  width: auto;

  tbody > tr > td {
    border: 0;
    padding: 0;
  }

  td {
    background: 0;
    border: 0;
  }

  td.line-number {
    vertical-align: top;
    text-align: right;
    padding-right: 5px;
  }

  td.file-line, td.line-content {
    text-align: justify;
    padding-bottom: 3px;
  }

  td.line-indent1 {
    padding-left: 10px;
  }

  td.line-indent2 {
    padding-left: 30px;
  }

  td.heading {
    font-weight: bold;
    padding: 10px;
  }

  tr.section-line {

  }

  tr.section-title {

  }
}


// Tellme feedback
.vertical-right-aligned {
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 100;
}

// Utilities
.filter {
  text-align: center;
  padding: 10px;
}
