
// Load variables
@import "variables";

@import "histogram-slider";


@import "~bootstrap/scss/bootstrap";

// Bootstrap docs theme
@import "docs/docs";

// OLDP specific styles
@import "oldp/oldp";

// Import third-party
$fa-font-path: "fonts/font-awesome" !default;
@import '~font-awesome/scss/font-awesome';

//@import "../tellme/feedback.min";


.select2-container {
  width: 100px;
}

@import "~select2/dist/css/select2.css";
@import "~select2-bootstrap4-theme/dist/select2-bootstrap4.css";

.select2 {
  //width:100%!important;
  margin-right: 3px !important;
}

.select2-container {
  width: auto;
}

.select2-selection, .select2-results__option, .select2-search__field {
  font-size: 0.85rem;
}

// Partial jquery-ui import
@import "~jquery-ui/themes/base/core.css";
@import "~jquery-ui/themes/base/theme.css";
@import "~jquery-ui/themes/base/slider.css";
@import "~jquery-ui/themes/base/tooltip.css";

