
// Load variables
@import "variables";

//@import "../css/style.css";
@import "bootstrap/4.0.0/bootstrap";

// Theme
@import "theme";

// OLDP specific styles
@import "oldp";
@import "oldp-content";

// Import third-party
@import "font-awesome/4.7.0/font-awesome";
@import "roboto";
@import "../tellme/feedback.min";
