// Bootstrap variables
//$brand-primary:           #0379C4;
$font-family-sans-serif:  Roboto, verdana, arial, sans-serif;

$theme-colors: (
  primary: #0379C4
);

$nav-link-hover-bg: map-get($theme-colors, "primary");

// Custom variables
