{% extends "layout.html" %}

{% load static from staticfiles %}
{% load i18n %}

{% block content %}


<div class="alert alert-warning">We are currently working on our API. Do not expect everything for work properly!</div>


<section>
    <h2>API</h2>

    <p>
        Schema and documentation can be found <a href="/api-schema/">here</a>. The following REST API endpoints are available:
        <ul>
            <li><a href="/api">Api Root</a></li>
        </ul>

    </p>
</section>


{% endblock %}