{% extends "layout.html" %}

{% load static %}
{% load i18n %}
{% load search %}


{% block wrap_content %}
    {% include 'homepage/banner.html' %}

    <div class="masthead-followup row m-0 border border-white">
        <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">

            <h3>{% trans "Getting Started with the API" %}</h3>

            <p class="text-justify">
                {% blocktrans trimmed %}
                Our REST API allows you to view, create or edit content available on this site.
                Most read requests (e.g. view cases) do not need to be authenticated,
                but any action that would require a user to be logged in (such as creating annotations) requires an API key.
                {% endblocktrans %}
                {% url 'account_signup' as signup_url %}
                {% url 'account_api' as api_url %}
                {% blocktrans trimmed %}
                To make authenticated requests, you'll need to <a href="{{ signup_url }}">set up an account</a>
                and obtain your <a href="{{ api_url }}">API key</a>.
                {% endblocktrans %}

                {% blocktrans trimmed %}
                We have different endpoints for cases, laws, courts and more.
                {% endblocktrans %}

                {% blocktrans trimmed %}
                Several API Clients are available in
                <a href="http://github.com/openlegaldata/oldp-sdk-python">Python</a>,
                <a href="http://github.com/openlegaldata/oldp-sdk-php">PHP</a>,
                <a href="http://github.com/openlegaldata/oldp-sdk-java">Java</a> and
                <a href="http://github.com/openlegaldata/oldp-sdk-javascript">Javascript</a>.
                {% endblocktrans %}

            </p>

            <p class="text-justify">
                {% url 'schema-redoc' as redoc_url %}
                {% blocktrans trimmed %}
                The <a href="{{ redoc_url }}">full documentation</a> is a great way to explore all the features of the API.
                You might also want to check out our <a href="https://github.com/openlegaldata/oldp-notebooks">example apps</a>.
                {% endblocktrans %}
            </p>

            <p>
                {% url 'contact:form' as contact_url %}
                {% blocktrans trimmed %}
                Questions? Comments? Want to tell us about the cool stuff you've built with our API?
                <a href="{{ contact_url }}">Get in touch</a>.
                {% endblocktrans %}
            </p>

            <hr class="half-rule">

            <a class="btn btn-outline-primary" href="{% url 'schema-swagger-ui' %}">{% trans 'Try it out!' %}</a>
            <a class="btn btn-outline-primary" href="{% url 'flatpages' url='/api/' %}">{% trans 'Documentation' %}</a>
            <a class="btn btn-outline-primary" href="https://github.com/openlegaldata/oldp-notebooks">{% trans 'Examples' %}</a>


        </div>

        <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">

            <h3>{% trans 'Latest Cases' %}</h3>

            <table class="table table-hover table-sm">
                {% for item in cases %}
                    <tr>
                        <td><a href="{{ item.get_absolute_url }}">{{ item.get_title }}</a></td>
                    </tr>
                {% endfor %}
            </table>

            <p class="text-center">
                <a class="btn btn-outline-primary" href="{% url 'cases:index' %}">{% trans "View all cases" %}</a>
            </p>

        </div>

        <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">

            <h3>{% trans "Contribute" %}</h3>

            <p class="text-justify">
                {% blocktrans trimmed %}
                Open Legal Data is a non-profit initiative by volunteers.
                Our initiative was founded to provide free, public, and open access to legal documents
                for educational, charitable, and scientific purposes to the benefit of the general public and the public interest.
                {% endblocktrans %}

                {% blocktrans trimmed %}
                We develop technologies such as this platform to facilitate legal research.
                {% endblocktrans %}
            </p>

            <p class="text-justify">
                {% blocktrans trimmed %}
                Yet, we depend on your support and, therefore, do not hesitate
                to send us your feedback or comments. Contributions are needed and always welcome!
                {% endblocktrans %}
            </p>

            <hr class="half-rule">

            <a class="btn btn-outline-primary" href="{{ site_twitter_url }}">{% trans "Twitter" %}</a>
            <a class="btn btn-outline-primary" href="{{ site_github_url }}">{% trans "GitHub" %}</a>
            <a class="btn btn-outline-primary" href="{% url 'contact:form' %}">{% trans 'Contact' %}</a>

        </div>


    </div>

{% endblock %}
