{% extends "layout.html" %}

{% load static from staticfiles %}
{% load i18n %}
{% load flatpages %}
{% load search %}


{% block wrap_content %}

    <main class="bd-masthead" id="content" role="main">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6 mx-auto col-md-6 order-md-2">
                    <i class="fa fa-balance-scale" style="font-size: 350px; font-weight: 600; color: #2f8cdd"></i>
                </div>
                <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
                    <h1 class="mb-3 bd-text-purple-bright">Freier Zugang zu juristische Daten.</h1>
                    <p class="lead">
                        Wir stellen Gesetzestexte und Urteile für alle kostenlos und maschinenlesbar zur Verfügung.
                    </p>
                    <p class="lead mb-4">
                        Täglich fügen wir neue Dokumente hinzu.
                    </p>

                    <div>

                        <form class="search-form form-inline" action="{% url 'haystack_search' %}" role="search" method="get">
                            <div>
                                <div class="input-group input-group-lg">

                                    <input class="form-control" name="q" placeholder="{% trans 'search_query_placeholder' %}" type="search" style="">

                                    <div class="input-group-append">
                                        <button class="btn btn-primary" style="">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                            {#                    <span class="hidden-xs"> {% trans 'do_search' %}</span>#}
                                        </button>
                                    </div>

                                </div>

                                <div class="search-examples">
                                    <b>{% trans 'search_example_queries' %}:</b>
                                    {% trans 'search_example_query1' as search_example_query1 %}
                                    {% trans 'search_example_query2' as search_example_query2 %}
                                    {% trans 'search_example_query3' as search_example_query3 %}


                                    <a href="{{ search_example_query1|search_url }}">{{ search_example_query1 }}</a>,
                                    <a href="{{ search_example_query2|search_url }}">{{ search_example_query2 }}</a>,
                                    <a href="{{ search_example_query3|search_url }}">{{ search_example_query3}}</a>.

                                </div>
                            </div>

                        </form>

                    </div>

                </div>
            </div>
            <script async="" src="https://cdn.carbonads.com/carbon.js?serve=CKYIKKJL&amp;placement=getbootstrapcom"
                    id="_carbonads_js"></script>

        </div>
    </main>

    <div class="masthead-followup row m-0 border border-white">
        <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">

            <h3>Über das Projekt</h3>

            <p class="text-justify">
                OPENLEGALDATA.IO ist ein unkommerzielles Projekt zur Förderung des freien Zugang zu juristischen Daten.
                Unser Hauptanliegen ist es technische Mittel zur Verarbeitung und Analyse von juristischen Inhalten, insbesondere Rechtsprechung und Rechtsnormen, zur Verfügung zu stellen.
                Durch das Zugänglichmachen mit Hilfe von <a href="/pages/api/">APIs</a> oder das Veröffentlichen von Datensätzen soll der Umgang mit Rechtsthemen für Nicht-Juristen erleichtert werden.
                Mit unserer Plattform richten wir uns in erster Linie an technisch versiert Aktivisten, Journalisten und Wissenschaftler.
            </p>
            <p class="text-jusity">
                OPENLEGALDATA.IO verpflichtet sich mit diesem Projekt den Prinzipien der <a href="https://opendefinition.org/od/2.1/en/">Open Data Bewegung</a> und der Erklärung des <a href="http://www.fatlm.org/declaration/">Free Access To Law Movements</a>.
            </p>

{#            <hr class="half-rule">#}
{#            <a class="btn btn-outline-primary" href="#">Mission Statement</a>#}
        </div>

        <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">

            <h3>Mitmachen</h3>


            <p class="text-justify">

                Dieses Projekt wird von Freiwilligen ehrenamtlich in der Freizeit betrieben. Deshalb sind wir auf
                Deine Unterstützung angewiesen. Wir suchen ständig Aktivisten, Entwickler, Juristen, Journalisten, Analysten und
                vor allem motivierte Mitstreiter*innen. Du hast Lust den Rechtstaat gemeinsam mit uns und offnen Daten
                etwas transparenter zu machen? Dann schreibe uns eine <a href="/contact/">Nachricht</a>, sende uns Gerichtsentscheidungen,
                nutze unsere Daten, melde <a href="https://github.com/openlegaldata/oldp/issues">Bugs</a> oder arbeite mit an neuen Features.

            </p>
            <p class="text-justify">
                Der Quellcode der Plattform und ein Python SDK ist bereits unter freier MIT Lizenz auf <a href="https://github.com/openlegaldata/oldp">GitHub</a>
                veröffentlicht. Also - nicht nur zu gucken, sondern Mitmachen!
            </p>

{#            <hr class="half-rule">#}

{#            <a class="btn btn-outline-primary" href="https://github.com/openlegaldata">GitHub</a>#}
{#            <a href="#" class="btn btn-outline-primary">Python SDK</a>#}
            {#            <a class="btn btn-outline-primary" href="#"></a>#}

        </div>

        <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">

            <h3>{% trans 'Latest Cases' %}</h3>

            <ul>
                {% for item in cases %}
                    <li>
                        <a href="{{ item.get_absolute_url }}">{{ item.get_title }}</a>
                    </li>
                {% endfor %}
            </ul>
            <p class="text-center">
                <a href="{% url 'cases:index' %}">{% blocktrans %}Show all {{ cases_count }} cases ...{% endblocktrans %}</a>
            </p>


{#            <hr class="half-rule">#}
{##}
{#            <a href="#" class="btn btn-outline-primary">Dokumentation</a>#}


        </div>
    </div>

    {#    {% get_flatpages '/homepage/' as pages %}#}
    {##}
    {#    {% for page in pages %}#}
    {#        {% autoescape off %}#}
    {#            {{ page.content }}#}
    {#        {% endautoescape %}#}
    {#    {% endfor %}#}


{% endblock %}
