// Theme
// (separated theme styles to reuse it for other projects)

// General elements
body {
  font-size: 0.9rem;
  padding-bottom: 8px;
}
@include media-breakpoint-down(md) {
  body {
    font-size: 0.855rem;
  }
}

@include media-breakpoint-down(xs) {
  body {
    font-size: 0.85rem;
  }
}

.wrap {
  margin: 0 auto;
  padding: 0;
  background-color: #e6e6e6;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.content {
  padding-top: 5px;
  min-height: 500px;
}

header {

}

footer {
  padding: 25px 0;
}

footer p {
  margin: 0
}

.shadow {
  box-shadow: 2px 2px 15px #000;
}

h1, h2, h3, h4, h5 {
  color: map-get($theme-colors, "primary");
  font-weight: 300;
  /*margin-top: 1.1em;*/
  /*margin-bottom: .5em*/
}

// General responsive
@include media-breakpoint-down(xs) {
  .container {
    padding: 5px;
    overflow-x: hidden;
  }

  h2, .h2 {
    font-size: 24px;
  }
}

// Footer
footer {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      float: left;
      display: block;
      text-align: center;
      padding: 1px 10px;
      border-left: 1px solid $gray-300;

      &:first-child {
        border: 0
      }

      a {

      }
    }
  }
}
@include media-breakpoint-down(xs) {
  footer {
    ul {

      li {
        float: none;
        text-align: left;
        border: 0;
        padding: 5px 10px;

        &:first-child {
          border-bottom: 1px solid $gray-300;
          padding: 14px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

// Section

section {
  display: block;
  padding: 0;
  padding-bottom: 10px;
  /*padding: 5px 20px 20px;*/
  margin: 0;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: .15s ease-out;
  transition: .15s ease-out;

  &:hover {
    text-decoration: none;
    box-shadow: 0 4px 7px 1px rgba(0, 0, 0, 0.16), 0 4px 12px 1px rgba(0, 0, 0, 0.12)
  }

  & > h2,
  & > h3,
  & > h4 {
    margin: 0;
    margin-top: 5px;
    padding: 20px 5px 10px 20px;
  }

  & > ul {
    margin-left: 20px;
    padding: 10px 20px;
  }

  & > article {
    padding: 20px;
  }

  & > p {
    padding: 0 20px;
  }

  & > form {
    padding: 0 10px;
  }

  & > .alert {
    box-shadow: none;

    &:hover {
      box-shadow: none;
    }
  }
}


@include media-breakpoint-down(xs) {
  section {
    margin-bottom: 10px;

    & > h2,
    & > h3,
    & > h4 {
      margin: 0;
      margin-top: 3px;
      padding: 5px 2px 3px 5px;
    }

    & > ul {
      margin-left: 10px;
      padding: 3px 5px;
    }

    & > article {
      padding: 5px;
    }

    & > p {
      padding: 0 5px;
    }

    & > form {
      padding: 0 3px;
    }

  }

  section {
    padding: 3px 5px 5px;
  }
}

// Search
section.search {
  li {
    list-style: none;
  }
  ul {
    list-style-type: none;
  }

  .search-snippet em {
    font-weight: bold;
  }
}

.search-form {
  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-group input {
    display: inline;
    width: auto;
  }
}

// Homepage
section.banner {

  //background-repeat: no-repeat;
  background-size: cover;
  //background-position-y: -100px;
  //height: 550px;
  text-align: center;
  margin: 0;
  border: none;
  box-shadow: none;
  padding: 5rem 0;


  h1 {
    margin: 0;
    padding-top: 130px;
    padding-bottom: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 2px 2px 10px #000;
  }

  form {
    padding-bottom: 55px;

    input {
      font-size: 30px; height: auto;
    }

    button {
      font-size: 30px;
    }

  }

  a.btn {
    font-size: 25px; box-shadow: 2px 2px 15px #000;
  }
}

@include media-breakpoint-down(sm) {
  section.banner {
    //background-repeat: no-repeat;
    //background-size: map-get($grid-breakpoints, sm) 470px;
    text-align: center;
    //min-height: 300px;

    h1 {
      font-size: 30px;
      padding: 10px;
    }

    form {
      padding: 10px;
      input, button {
        font-size: 16px;
      }
    }

    a.btn {
      font-size: 18px;
    }

  }


}

// Bootstrap modifications

// - Pagination
ul.pagination {
  list-style: none;
  //box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  li { display: inline; }
}

// - Alert

.alert {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: .15s ease-out;
  transition: .15s ease-out;

  &:hover {
    box-shadow: 0 4px 7px 1px rgba(0, 0, 0, 0.16), 0 4px 12px 1px rgba(0, 0, 0, 0.12)
  }
}

.alert-danger {
  h1, h2, h3 {
    color: map-get($theme-colors, "danger");
  }
}

// - Navbar

.navbar {
  margin: 0;
  line-height: 2.5rem;
  padding: 0;

  .navbar-toggle.collapsed {
    border-color: map-get($theme-colors, "primary");
    color: map-get($theme-colors, "primary");
    background-color: $white ;

    .icon-bar {
      background-color: map-get($theme-colors, "primary");
    }
  }

  .navbar-toggle {
    border-color: map-get($theme-colors, "primary");
    color: map-get($theme-colors, "primary");
    background-color: map-get($theme-colors, "primary");
    font-size: 10px;

    .icon-bar {
      background-color: map-get($theme-colors, "primary");
    }
  }

  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }

  li > a:focus, .nav > li > a:hover {
    background: map-get($theme-colors, "primary");
    color: $component-active-color;
  }


  .navbar-collapse.in,
  .navbar-collapsing {
    //border-top: 1px solid $gray-300;
    //margin: 0;
  }

  .dropdown-menu {
    line-height: 1.3rem;
  }
}


.navbar-brand {
  color: map-get($theme-colors, "primary");
  width: auto;
  text-transform: none;
  white-space: nowrap
}

.navbar-nav > .nav-item {
  line-height: 2.5rem;
}
.navbar-nav > .nav-item > .nav-link {
  padding-left: 1.2em;
  padding-right: 1.2em;
}
.navbar-nav > li.active > a {
  background: map-get($theme-colors, "primary");
  color: $component-active-color;
}
.navbar-toggler {
  line-height: 2.0rem;
  color: map-get($theme-colors, "primary");
}
.nav-tabs {
  top: 15px;
  position: relative;
  left: 5px;
  padding-bottom: 10px;
  border: 0;

  li {
    height: 44px;
    border: 0;
    margin-right: 10px;

    a:focus,
    a:hover {
      background: #fff;
      border: 0;
    }

    .active {
      //box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      border: 0 !important;
      /*box-shadow: 10px 0px 0px #888888;*/
      /*-webkit-transition: .15s ease-out;*/
      /*transition: .15s ease-out*/

      a,
      a:hover {
        border: 0;
        display: block;
        background: #fff;
        padding-bottom: 20px;
      }
    }
  }
}
// - django-allauth
form.uniForm {
  padding: 0;
}

.form-actions {
  padding-left: 10px;
}

.login-or {
  padding: 20px;
}
// - Misc

.list-none-style {
  list-style: none;
}


.btn-readmore {
  margin: 20px;
}

.readmore {
  display: none;
}

.row-eq-height section {
  height: 95%;
}
