// Local docs variables
// @use "sass:map";

// @use "../variables";


$bd-purple:        #0379C4 !default;
$bd-purple-bright: #0379C4 !default;
$bd-purple-light:  #0379C4 !default;
$bd-dark:          #2a2730 !default;
$bd-download:      #ffffff !default;
$bd-info:          #5bc0de !default;
$bd-warning:       #f0ad4e !default;
$bd-danger:        #d9534f !default;
