{% extends "layout.html" %}

{% load static from staticfiles %}
{% load i18n %}

{% block breadcrumbs %}
    <nav class="breadcrumbs d-none d-md-block">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-home"></i> <a href="{% url 'homepage:index' %}">{% trans 'Home' %}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'courts:index' %}">{% trans 'Courts' %}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'courts:index' %}?state={{ court.state.pk }}">{{ court.state.name }}</a>
        </li>
        <li class="breadcrumb-item">{{ court.name }}</li>
      </ol>
    </nav>
{% endblock %}


{% block content %}

<section>
    {% if court.image %}
    <img src="{{ court.image.url }}" class="img-thumbnail" style="float: right; margin: 15px;">
    {% endif %}

    <h2>{{ court.name }}</h2>
    {% if court.get_type_name %}
        <h3>{{ court.get_type_name }} in {{ court.state.name }}</h3>
    {% endif %}

    <p><strong>{% trans 'ECLI code' %}:</strong> {{ court.code }}</p>
    <p>{{ court.description }}</p>

    <br style="clear: right">
</section>


{% if object_list %}
    <section>
    {% with cases=object_list %}
        {% include 'cases/table.html' %}
    {% endwith %}
    </section>
{% endif %}


{% if not object_list %}
    {% include "noresults.html" %}
{% endif %}

{% include "pagination_list_view.html" %}

{% endblock %}
