{% extends "layout.html" %}

{% load static %}
{% load i18n %}

{% block breadcrumbs %}
    <nav class="breadcrumbs d-none d-md-block">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-home"></i> <a href="{% url 'homepage:index' %}">{% trans 'Home' %}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'courts:index' %}">{% trans 'Courts' %}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'courts:index' %}?state={{ court.state.pk }}">{{ court.state.name }}</a>
        </li>
        <li class="breadcrumb-item">{{ court.name }}</li>
      </ol>
    </nav>
{% endblock %}


{% block content %}

{% with item=court %}
    {% include 'admin_bar.html' %}
{% endwith %}

<section>
    {% if court.image %}
    <img src="{{ court.image.url }}" class="img-thumbnail" style="float: right; margin: 15px;">
    {% endif %}

    <h2>{{ court.name }}</h2>
    {% if court.get_type_name %}
        <h3>{{ court.get_type_name }} in {{ court.state.name }}</h3>
    {% endif %}

    <p><strong>{% trans 'ECLI code' %}:</strong> {{ court.code }}</p>
    <p>{{ court.description }}</p>

    <br style="clear: right">
</section>


{% if object_list %}
    <section>
        <h3>{% trans 'Cases' %}</h3>
        {% with cases=object_list %}
            {% include 'cases/table.html' %}
        {% endwith %}

        {% if is_paginated %}
            <nav class="text-center" aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="{{ court.get_cases_list_url  }}">
                            {% blocktrans with cases_count=paginator.count %}Show all {{ cases_count }} cases ...{% endblocktrans %}
                        </a>
                    </li>
                </ul>
            </nav>
        {% endif %}

    </section>
{% endif %}


{% if not object_list %}
    {% include "noresults.html" %}
{% endif %}

{% endblock %}
