{% load i18n %}
{% load string_filters %}
{% load search %}

<div class="search-facets">

{#    <div style="color: grey">#}
{##}
{#        <button class="btn btn-default btn-sm" onclick="$('.search-facets form').toggle();">#}
{#            Filter#}
{#            <i class="fa fa-arrow-down"></i>#}
{##}
{#        </button>#}
{#    </div>#}

    <form action="" method="get">
        <input type="hidden" name="q" value="{{ query }}">
        <input type="hidden" name="start_date" value="" class="rangeFromDate">
        <input type="hidden" name="end_date" value="" class="rangeToDate">

        {% if not search_facets  %}
            <p>{% trans 'No filter available.' %}</p>
        {% endif %}

        {% if search_facets.facet_model_name %}
            {% with facet=search_facets.facet_model_name %}
                <div class="search-facet">
                    <strong>{% trans 'Document type' %}</strong>
                    <ul>
                        {% for choice in facet.choices %}
                            {% include 'search/facet_choice.html' %}
                        {% endfor %}
                    </ul>
                </div>
            {% endwith %}
        {% endif %}

        {% if search_facets.book_code %}
            {% with facet=search_facets.book_code %}
                <div class="search-facet">
                    <strong>{% trans 'Law book' %}</strong>
                    <ul>
                        {% for choice in facet.choices %}
                            {% include 'search/facet_choice.html' %}
                        {% endfor %}
                        {% if facet.choices|length > 5 %}
                            <li>
                                <button type="button" onclick="showMoreFacets(this);" class="btn btn-link btn-sm" data-facet-name="{{ facet.name }}">
                                    <i class="fa fa-arrow-down"></i> See more
                                </button>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endwith %}
        {% endif %}

        {% if search_facets.decision_type %}
            {% with facet=search_facets.decision_type %}
                <div class="search-facet">
                    <strong>{% trans 'Decision type' %}</strong>
                    <ul>
                        {% for choice in facet.choices %}
                            {% include 'search/facet_choice.html' %}
                        {% endfor %}
                    </ul>
                </div>
            {% endwith %}
        {% endif %}

        {% if search_facets.court %}
            {% with facet=search_facets.court %}
                <div class="search-facet">
                    <strong>{% trans 'Court' %}</strong>
                    <ul>
                        {% for choice in facet.choices %}
                            {% include 'search/facet_choice.html' %}
                        {% endfor %}
                    </ul>
                </div>
            {% endwith %}
        {% endif %}

        {% if search_facets.court_jurisdiction %}
            {% with facet=search_facets.court_jurisdiction %}
                <div class="search-facet">
                    <strong>{% trans 'Jurisdiction' %}</strong>
                    <ul>
                        {% for choice in facet.choices %}
                            {% include 'search/facet_choice.html' %}
                        {% endfor %}
                    </ul>
                </div>
            {% endwith %}
        {% endif %}

        {% if search_facets.court_level_of_appeal %}
            {% with facet=search_facets.court_level_of_appeal %}
                <div class="search-facet">
                    <strong>{% trans 'Level of Appeal' %}</strong>
                    <ul>
                        {% for choice in facet.choices %}
                            {% include 'search/facet_choice.html' %}
                        {% endfor %}
                    </ul>
                </div>
            {% endwith %}
        {% endif %}

        {% if date_facets %}
            <div class="search-facet">
                <strong>{% trans 'Publication date' %}:</strong>

                <div id="histogramSlider" data-items="{{ date_facets.items|jsonify }}"
                     data-start-date="{{ date_facets.start_date }}" data-end-date="{{ date_facets.end_date }}"></div>

                <ul>
                    <li>
                        <div class="input-group input-group-sm ">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <span class="rangeFromDate">/</span>&nbsp;-&nbsp; <span class="rangeToDate">/</span>
                                </span>
                            </div>
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-sm btn-primary">
                                    <i class="fa fa-filter"></i>

                                </button>
                            </div>

                        </div>

                    </li>
                </ul>
                </div>

        {% endif %}

    </form>
</div>
