{% extends "layout.html" %}

{% load static from staticfiles %}
{% load i18n %}
{% load qstring %}
{% load string_filters %}


{% block content %}

{% qstring as current_qstring %}

<section>
    <h2>{% trans 'Search' %}</h2>
    <form class="form-horizontal search-form" action="search" role="search" method="get">
        {% if search.doc_type %}
            <input type="hidden" name="type" value="{{ search.doc_type }}">
        {% endif %}

        <div class="input-group input-group-lg">
            <input class="form-control input-large" name="query" placeholder="{% trans 'search_query_placeholder' %}" type="search" value="{{ searchQuery }}">
            <!--<div class="input-group-btn">-->
                <!--<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
                    <!--Sort results-->
                    <!--<span class="caret"></span>-->
                <!--</button>-->
                <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="#">By date</a></li>-->
                    <!--<li><a href="#">By title</a></li>-->
                <!--</ul>-->

            <!--</div>-->
            <div class="input-group-btn">
                <button class="btn btn-primary">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <!--<div class="form-inline">-->
            <!--<div class="checkbox">-->
                <!--<label>-->
                    <!--<input type="checkbox"> Original PDF must exist-->
                <!--</label>-->
            <!--</div>-->
            <!--<div class="checkbox">-->
                <!--<label>-->
                    <!--<input type="checkbox"> Paid content-->
                <!--</label>-->
            <!--</div>-->
        <!--</div>-->
    </form>

    <!--{{ searchQuery }}-->

</section>

<ul class="nav nav-tabs">
    <li {% if not search.doc_type %}class="active"{% endif %}>
        <a href="?{{ current_qstring|qstring_del:'type&page' }}">{% trans 'All results' %}</a>
    </li>
    <li {% if search.doc_type == 'case' %}class="active"{% endif %}>
        <a href="?{{ current_qstring|qstring_set:'type=case'|qstring_del:'page' }}">{% trans 'Cases' %}</a>
    </li>
    <li {% if search.doc_type == 'law' %}class="active"{% endif %}>
        <a href="?{{ current_qstring|qstring_set:'type=law'|qstring_del:'page' }}">{% trans 'Laws' %}</a>
    </li>
</ul>

<section class="search">
    <ul>
        {% for item in items %}
            <li>
                <a href="{{ item.get_url }}">
                    <h4><strong>{{ item.get_title }}</strong> ({{ item.get_type }})</h4>
                    {% if debug %}
                        <span class="badge">{{ item.get_search_score }}</span>
                    {% endif %}
                    <p class="search-snippet">
                        {% autoescape off %}
                        {{ item.get_search_snippet }}
                        {% endautoescape %}
                    </p>
                </a>
            </li>
        {% endfor %}
    </ul>
</section>

{% if search.get_pages <= 0 %}
    {% include 'noresults.html' %}
{% else %}
    <nav class="text-center" aria-label="Page navigation">
        <ul class="pagination">
            {% for page in search.get_page_range %}
            <li {% if page == search.page %}class="active"{%endif%}>
                {% with 'page='|add_str:page as page_param %}
                    <a href="?{{ current_qstring|qstring_set:page_param }}">{{ page }}</a>
                {% endwith %}
            </li>
            {% endfor %}
        </ul>
    </nav>
    <p class="small text-center">{% trans 'Documents found' %}: {{ search.total_hits }}</p>
{% endif %}

{% endblock %}