// OLDP content-specific styles
.navbar-brand {
  border-right: 1px solid $bd-purple-light;
  padding-right: 20px;
  margin-right: 15px;

  img {
    height: 30px;
  }

  @include media-breakpoint-down(md) {
    border: 0;
    padding-right: 0;
    margin-right: 0;
  }
}


main {
  background: #eee;
  min-height: 600px;
}

.funded-by {
  img {
    height: 100px;
  }
}

.shadow {
  box-shadow: 2px 2px 15px #000;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  color: map-get($theme-colors, "primary");
  font-weight: 300;
  /*margin-top: 1.1em;*/
  /*margin-bottom: .5em*/
}


// Section
section {
  display: block;
  padding: 0;
  padding-bottom: 10px;
  /*padding: 5px 20px 20px;*/
  margin: 0;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: .15s ease-out;
  transition: .15s ease-out;

  &:hover {
    text-decoration: none;
    box-shadow: 0 4px 7px 1px rgba(0, 0, 0, 0.16), 0 4px 12px 1px rgba(0, 0, 0, 0.12)
  }

  & > h2, & > .h2,
  & > h3, & > .h3,
  & > h4, & > .h4 {
    margin: 0;
    margin-top: 5px;
    padding: 20px 5px 10px 20px;
  }

  & > ul {
    margin-left: 20px;
    padding: 10px 20px;
  }

  & > article {
    padding: 20px;
  }

  & > p {
    padding: 0 20px;
  }

  & > form {
    padding: 0 10px;
  }

  & > .alert {
    box-shadow: none;

    &:hover {
      box-shadow: none;
    }
  }
}


@include media-breakpoint-down(xs) {
  // mobile settings

  main.oldp-content {
    padding: 0;
  }

  section {
    margin-bottom: 1px;
    padding: 3px 5px 5px;
    box-shadow: none;
    border-radius: 0;

    & > h2, & > .h2,
    & > h3, & > .h3,
    & > h4, & > .h4 {
      margin: 0;
      margin-top: 3px;
      padding: 5px 2px 3px 5px;
    }

    & > ul {
      margin-left: 10px;
      padding: 3px 5px;
    }

    & > article {
      padding: 5px;
    }

    & > p {
      padding: 0 5px;
    }

    & > form {
      padding: 0 3px;
    }

    &:hover {
      box-shadow: none;
    }
  }

}


.title-center {
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;

  h4 {
    color: #777;
  }
}

.filter {
  text-align: center;
  padding: 10px;
}

h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {
  font-size: 1.2rem;
}

h4, .h4 {
  font-size: 1.1rem;
}

h5, .h5 {
  font-size: 1.05rem;
}

.breadcrumbs {
  color: #555;
  font-size: 0.9rem;

  .breadcrumb {
    background: none;
    border-radius: 0;
    padding: 0;
  }

  .breadcrumb-item {
    a {
      color: #555;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
