{% extends "base.html" %}

{% load i18n %}

{% block sidebar %}
    {% if user.is_authenticated %}
        <nav class="collapse nav-sidebar" id="sidebar">

            <ul>
                <li class="{% block account_nav_email %}{% endblock %}">
                    <a href="{% url 'account_email' %}">{% trans 'E-mail Addresses' %}</a>
                </li>
                <li class="{% block account_nav_change_password %}{% endblock %}">
                    <a href="{% url 'account_change_password' %}">{% trans 'Change Password' %}</a>
                </li>
                <li class="{% block account_nav_api %}{% endblock %}">
                    <a href="{% url 'account_api' %}">{% trans 'API Keys' %}</a>
                </li>
                {#  {% url 'socialaccount_connections' as connections_url %}#}
                {#  {% if connections_url %}#}
                {#  <li class="{% block account_nav_socialaccount_connections %}{% endblock %}">#}
                {#    <a href="{{ connections_url }}">{% trans 'Connected Accounts' %}</a>#}
                {#  </li>#}
                {#  {% endif %}#}
            </ul>

        </nav>
    {% endif %}
{% endblock %}

{% block content %}

<section>

<h2>{% trans 'Account' %}</h2>

{% block account_content %}
{% endblock %}

</section>

{% endblock %}
