{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block content %}
<section>
<h2>{% trans "Sign In" %}</h2>

{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
  {% include "account/snippets/social_buttons.html" %}
  <div class="social-divider">{% trans 'or sign in with your email' %}</div>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="form-actions">
    <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
    <a class="btn" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

  </div>
</form>
</section>

{% endblock %}
